
img#top-bar-icon {
  margin: 0px 10px 0px 10px;
}

a.top-bar-menu {
  float:left!important
}

a.top-bar-menu-margin-right {
  margin-right:16px!important
}

a.social-media {
  margin: 0 5px 0 5px;
}
